.home1 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 8992px;
    overflow: hidden;
}

body {
    margin: 0;
    line-height: normal;
}

 :root {
    /* fonts */
    --font-inter: Inter;
    --h5: "Century Gothic";
    --font-rubik: Rubik;
    --font-staatliches: Staatliches;
    --font-gothic-a1: "Gothic A1";
    /* font sizes */
    --paragraph-size: 18px;
    --font-size-xl: 20px;
    --h5-size: 12px;
    --font-size-11xl: 30px;
    --font-size-31xl: 50px;
    --font-size-sm: 14px;
    --font-size-6xl: 25px;
    --font-size-21xl: 40px;
    --h3-size: 21px;
    --font-size-smi: 13px;
    --font-size-base: 16px;
    --h2-size: 60px;
    /* Colors */
    --color-white: #fff;
    --color-tomato-100: #f03f37;
    --red: #ef3f36;
    --color-black: #000;
    --ashh: #ececec;
    --color-whitesmoke-100: #e9e9e9;
    --color-darkslateblue-100: #273b92;
    --blue: #28368f;
    --color-dimgray: #555;
    --color-gray-100: #7c7c7c;
    --color-gray-200: #1e1e1e;
    --color-midnightblue: #182d8a;
    --ash: #959595;
    --color-navy: #091593;
    /* border radiuses */
    --br-3xs: 10px;
    --br-8xs: 5px;
    --br-6xl: 25px;
    --br-mini: 15px;
    --br-11xl: 30px;
    --br-16xl: 35px;
}